# Data
data/raw/*
data/processed/*
!data/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/fixtures/**
!data/raw/curnow_labelled.csv

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
.env
.pytest_cache/
.mypy_cache/
.ruff_cache/
.DS_Store
.ipynb_checkpoints/
*.log
.mplconfig/
